body {
  padding-top: 50px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

#map_canvas {
    width: 600px;
    height: 400px;
    background-color: #00FFFF;
    outline: 1px solid #00FFFF;
}